.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-backdrop);
  transition: all 3s;
  animation: 300ms show-modal forwards;
  cursor: pointer;
  z-index: 5000;
}

@keyframes show-modal {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 100%;
  }
}