.container {
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container {
  height: 7rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  direction: ltr;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 var(--content-horizontal-margin);
  z-index: 20000;
}

.slider {
  width: 100vw;
  position: fixed;
  z-index: 10000;
  margin-bottom: 4.8rem;
  margin: auto 0;
}

.container img {
  width: 100%;
}

.dots {
  bottom: 0;
}

.no-images {
  color: var(--color-white);
  font-size: var(--font-size-h4);
}
