.content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0 var(--content-horizontal-margin);
  animation: 300ms show-modal forwards;
}

.btn-container {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  direction: ltr;
}

.list {
  padding: 1.2rem 0;
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  cursor: pointer;
}

.list ul {
  overflow: hidden;
}

.list .hidden {
  height: 0;
}

.list li {
  font-size: var(--font-size-h4);
  padding: 1.2rem 0;
}

.list li:first-child {
  margin-top: 1.2rem;
  padding: 1.2rem 0 1.2rem;
}

.list li:last-child {
  padding: 1.2rem 0 0;
}

html[lang="ar"] .list li:last-child {
  padding: 1.2rem 0 .6rem;
}

.modal a:link,
.modal a:visited,
.modal a:hover,
.modal a:active {
  color: var(--color-white);
  cursor: pointer;
}

.lang-changer-container {
  position: fixed;
  bottom: 2.4rem;
  width: 100%;
  text-align: center;
  direction: ltr;
}

@keyframes show-modal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}
