.step {
  display: flex;
  justify-content: flex-start;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon div {
  height: 4.8rem;
  width: 5rem;
  display: flex;
  margin-top: auto;
}

.icon div div {
  width: 2.5rem;
  height: 100%;
}

.icon div div:last-child {
  border-left: 4px solid var(--color-primary);
}

html[dir="rtl"] .icon div div:last-child {
  border-left: none;
  border-right: 4px solid var(--color-primary);
}

.step svg {
  width: 5rem;
  margin-top: auto;
}

.step article {
  margin-left: 4.8rem;
}

html[dir="rtl"] .step article {
  margin-right: 4.8rem;
  margin-left: 0;
}

.step article div {
  width: 100%;
  height: 4.8rem;
}

.step p {
  margin-top: 1.2rem;
}

.step.last svg {
  margin-top: 0;
}
