.path {
  margin-top: 1.2rem;
}

.center {
  margin: 0 var(--content-horizontal-margin);
}

.center h1 {
  margin: 3.6rem 0 14.4rem;
}

.small-margin {
  margin-bottom: 3.6rem;
}

.medium-margin {
  margin-bottom: 7.2rem;
}

.medium-large-margin {
  margin-bottom: 9.6rem;
}

.large-margin {
  margin-bottom: 14.4rem;
}

.container {
  padding: 0 var(--content-horizontal-margin);
  margin-bottom: 4.8rem;
}

.link {
  display: inline-block;
  margin: 4.8rem var(--content-horizontal-margin) 14.4rem;
}
