.footer {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 9.6rem 0 7.2rem;
}

.center {
  background-color: var(--color-black);
  margin: 0 var(--content-horizontal-margin);
}

.icons-container {
  margin-top: 2.4rem;
}

.icon:not(:first-child) {
  margin-left: 1.2rem;
}

.contact-info {
  margin-top: 3.6rem;
}

.footer a:link,
.footer a:visited {
  color: var(--color-white);
}

.footer a:link path,
.footer a:visited path {
  fill: var(--color-white);
}

.footer a:hover,
.footer a:active {
  color: var(--color-grey-light-01);
}

.footer a:hover path,
.footer a:active path {
  fill: var(--color-grey-light-01);
}

.lang-changer {
  display: inline-block;
  margin-top: 3.6rem;
}

.copyright{
    margin-top: 3.6rem;
}