.section {
  margin: 0 var(--content-horizontal-margin) 19.2rem;
}

.section h2 {
  margin: 1.2rem 0 7.2rem;
}

.container{
    padding: 0 var(--content-horizontal-margin);
    padding-bottom: 19.2rem;
}