.header {
  margin: 3.2rem var(--content-horizontal-margin) 12.2rem;
}

.header h1,
.header p {
  color: var(--color-primary);
}

.header p {
  margin: 1.2rem 0 4.8rem   ;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h5);
}

.header a:not(:first-child){
    margin-right: 1.2rem;
}