.container {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-en-sans-serif);
  line-height: 1.5;
}

.container a:link,
.container a:visited {
  display: flex;
  align-items: center;
}

.container a:not(:first-child) {
  margin-top: 1.2rem;
}

html[dir="ltr"] .container a svg {
  margin-right: 1.2rem;
}

html[dir="rtl"] .container a svg {
  margin-left: 1.2rem;
}

.container a span {
  display: inline-block;
  direction: ltr;
}
