.container {
  display: flex;
  flex-direction: column;
}

.container a:link,
.container a:visited {
  display: flex;
  align-items: center;
}

.container a:not(:first-child) {
  margin-top: 1.2rem;
}

.container a svg {
  margin-right: 1.2rem;
}

.container a span {
  display: inline-block;
}
