.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-backdrop);
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
  // animation: 300ms show-modal forwards;
  cursor: pointer;
  z-index: 5000;
}

// @keyframes show-modal {
//   0% {
//     opacity: 0;
//   }

//   100% {
//     opacity: 100%;
//   }
// }
