.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-backdrop);
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
  cursor: pointer;
  z-index: 5000;
}
