.backdrop,
.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.backdrop {
  background-color: var(--color-backdrop);
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  text-align: center;
  width: 100%;
  margin: 0 var(--content-horizontal-margin);
}

.list {
  padding: 1.2rem 0;
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  cursor: pointer;
}

.list:not(:last-child) {
  border-bottom: 1px solid var(--color-white);
}

.list ul {
  overflow: hidden;
}

.list .hidden {
  height: 0;
}

.list li {
  font-size: var(--font-size-h4);
  padding: 1.2rem 0;
  border-top: 1px solid var(--color-white);
}

.list li:first-child {
  margin-top: 1.2rem;
  padding: 1.2rem 0 1.2rem;
}

.list li:last-child {
  padding: 1.2rem 0 0;
}

.modal a:link,
.modal a:visited,
.modal a:hover,
.modal a:active {
  color: var(--color-white);
  cursor: pointer;
}
