.center {
  margin: 0 var(--content-horizontal-margin);
}

.center h1{
    margin-top: 3.6rem;
}

.item {
  margin-bottom: 9.6rem;
}

.item:first-of-type {
  margin-top: 14.4rem;
}

.controls{
    margin-bottom: 7.2rem;
}
