.center {
  margin: 0 var(--content-horizontal-margin);
}

.path{
    margin-top: 1.2rem;
}

.center h1 {
  margin: 3.6rem 0 14.4rem;
}

.item {
  margin-bottom: 9.6rem;
  display: flex;
  justify-content: space-around;
}

.controls {
  margin-bottom: 7.2rem;
}
