.nav {
  padding: 0 var(--content-horizontal-margin);
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  direction: ltr;
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 4000;
}
