.logo {
  width: 6rem;
  height: 3rem;
  cursor: pointer;
}

.cls-1 {
  fill: var(--color-primary-grey-dark) !important;
}

.cls-2 {
  fill: var(--color-primary) !important;
}

.dark .cls-1 {
  fill: var(--color-primary-grey-light) !important;
}

.dark .cls-2 {
  fill: var(--color-primary-grey-dark) !important;
}
