html {
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
}

::-moz-selection {
  background-color: var(--color-primary-light);
  color: var(--color-white);
}

::selection {
  background-color: var(--color-primary-light);
  color: var(--color-white);
}

*:focus {
  outline: 1px solid var(--color-primary-light);
  outline-offset: 0.6rem;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
