html {
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
}

::-moz-selection {
  background-color: var(--color-primary-light);
  color: var(--color-white);
}

::selection {
  background-color: var(--color-primary-light);
  color: var(--color-white);
}
