body {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-p);
}

html[lang="en"] body {
  font-family: var(--font-family-en-sans-serif);
}

html[lang="ar"] body {
  font-family: var(--font-family-ar-sans-serif);
  line-height: 1.75;
}

html[lang="en"] .h0,
html[lang="en"] .h1,
html[lang="en"] .h2,
html[lang="en"] .h3,
html[lang="en"] .h4,
html[lang="en"] .h5 {
  font-family: var(--font-family-en-serif);
}

html[lang="ar"] .h0,
html[lang="ar"] .h1,
html[lang="ar"] .h2,
html[lang="ar"] .h3,
html[lang="ar"] .h4,
html[lang="ar"] .h5 {
  font-family: var(--font-family-ar-serif);
  line-height: 1;
}

.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-weight: var(--font-weight-bold);
}

.h1 {
  font-size: var(--font-size-h1);
}

.h2 {
  font-size: var(--font-size-h2);
}

.h3 {
  font-size: var(--font-size-h3);
}

.h4 {
  font-size: var(--font-size-h4);
}

.h5 {
  font-size: var(--font-size-h5);
}
