.logo {
  width: 6rem;
  height: 3rem;
  cursor: pointer;
}

.cls-1 {
  fill: var(--color-primary-grey-dark);
}

.cls-2 {
  fill: var(--color-primary);
}

.dark .cls-1 {
  fill: var(--color-primary-grey-light);
}

.dark .cls-2 {
  fill: var(--color-primary-grey-dark);
}
