.footer {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 7.2rem 0 7.2rem;
  margin-top: auto;
}

.center {
  background-color: var(--color-black);
  margin: 0 var(--content-horizontal-margin);
  display: flex;
  flex-direction: column;
}

.icons-container {
  margin-top: 2.4rem;
}

html[dir="ltr"] .icon:not(:first-child) {
  margin-left: 1.2rem;
}

html[dir="rtl"] .icon:not(:first-child) {
  margin-right: 1.2rem;
}

.contact-info {
  margin-top: 3.6rem;
}

.footer a:link,
.footer a:visited {
  color: var(--color-white);
}

.footer a:link path,
.footer a:visited path {
  fill: var(--color-white);
}

.footer a:hover,
.footer a:active {
  color: var(--color-grey-light-01);
}

.footer a:hover path,
.footer a:active path {
  fill: var(--color-grey-light-01);
}

.links {
  margin-top: 3.6rem;
  display: flex;
}

html[dir="ltr"] .links > div:not(:first-child) {
  margin-left: 7.2rem;
}

html[dir="rtl"] .links > div:not(:first-child) {
  margin-right: 7.2rem;
}

html[dir="ltr"] .links > div > ul {
  margin-left: 2.4rem;
}

html[dir="rtl"] .links > div > ul {
  margin-right: 2.4rem;
}

.links > div > ul > li {
  margin-top: 1.2rem;
}

.lang-changer {
  display: inline-block;
  margin-top: 3.6rem;
}

.copyright {
  margin-top: 3.6rem;
}

@media (min-width: 700px) {
  .second-flex {
    display: flex;
  }

  html[dir="ltr"] .second-flex > div:not(:first-child) {
    margin-left: 7.2rem;
    margin-top: 0;
  }

  html[dir="rtl"] .second-flex > div:not(:first-child) {
    margin-right: 7.2rem;
    margin-top: 0;
  }

  .lang-changer {
    margin-top: 4.8rem;
  }
}
